.comment {
  padding: 10px;
  border: 2px solid var(--secondary-color);
  border-radius: var(--radius);
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.userData {
  display: flex;
  align-items: center;
  gap: 10px;
  text-transform: capitalize;
}

.avatar {
  width: 45px;
  height: 45px;
  object-fit: cover;
  border-radius: 50%;
}
