@import "../../scss/vars";
@import "../../scss/mixins";

.about-workers {
  background-color: $dark;
  padding: 50px 0 50px;
  &__inner {
    margin-top: 50px;
    @include flexSpaceBetween;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 30px 50px;
  }
  &__img {
    border-radius: $border;
    max-height: 400px;
    max-width: 400px;
  }
  &__text {
    flex: 400px 1 0;
    @include textArticle;
    color: $light;
  }
}
