@use "../../../scss/mixins.scss" as mixins;

.inner {
  max-width: 500px;
}

.top {
  position: relative;
  margin-bottom: 10px;
}

.buttonPrev {
  @include mixins.position(absolute, 50%, unset, unset, 5px);
  @include mixins.flexRow(0, center, center);
  transform: translateY(-50%);
  padding: 5px;
  min-width: 45px;
  z-index: var(--middle-index);
  border: 0;
  background-color: var(--primary-color);
  border-radius: var(--radius);
  box-shadow: 0 0 3px 0 var(--primary-color);
  cursor: pointer;
  @include mixins.mobile {
    display: none;
  }
  &:disabled {
    opacity: 50%;
  }
  svg {
    path {
      fill: var(--accent-color);
    }
  }
}

.buttonNext {
  @extend .buttonPrev;
  left: auto;
  right: 5px;
}

.thumbs {
  @include mixins.image(100%, 80px, contain);
}

.thumb {
  @include mixins.flexRow(0, center);
  border-bottom: 2px solid transparent;
  padding: 5px 0;
  cursor: pointer;
  img {
    @include mixins.image(100%, 100%, cover);
  }
  &Active {
    @extend .thumb;
    border-bottom: 2px solid var(--accent-color);
  }
}

.slide {
  @include mixins.flexRow(0, center, center);
  height: 300px;
  img {
    @include mixins.image(500px, 100%, cover);
  }
}
