@use "../../../scss/mixins.scss" as mixins;

.cart {
  @include mixins.flexRow(0px, center, center);
  width: 45px;
  height: 45px;
  background-color: var(--primary-stable-color);
  border-radius: 50%;
  position: relative;
  transition: var(--transition);
  &:hover,
  &:focus {
    outline-width: 0;
    box-shadow: 0 0 8px 1px var(--primary-stable-color);
  }
  @include mixins.tablet {
    &:hover {
      box-shadow: none;
    }
  }
  @include mixins.mobile {
    width: 40px;
    height: 40px;
  }
}

.num {
  @include mixins.position(absolute, unset, -8px, -5px, unset);
  background-color: var(--accent-color);
  color: var(--primary-stable-color);
  border-radius: var(--radius);
  padding: 4px 5px;
}
