@use "../../../scss/mixins.scss" as mixins;

.footer {
  background-color: var(--secondary-stable-color);
  padding: 10px 0;
}
.mainContent {
  @include mixins.flexRow(15px 30px, space-between, center, wrap);
  @include mixins.smallMobile {
    justify-content: center;
  }
}

.copyright {
  width: 100%;
  color: var(--primary-stable-color);
  text-align: center;
}
