@use "../../scss/mixins.scss" as mixins;

.panel {
  display: flex;
  justify-content: space-between;
  min-height: 100%;
  position: relative;
  gap: 20px;
}

.burger {
  display: none;
  @include mixins.tablet {
    display: block;
    align-self: flex-start;
    margin-left: 7px;
    margin-bottom: 10px;
    * {
      background-color: var(--secondary-color) !important;
    }
  }
}

.aside {
  width: 100%;
  max-width: 200px;
  background-color: var(--primary-color);
  position: absolute;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  top: 0;
  bottom: 0;
  z-index: var(--middle-index);
  transition: var(--transition);
  box-shadow: 2px 0 2px 0px var(--secondary-light-color);
  @include mixins.tablet {
    padding-right: 5px;
    max-width: 48px;
  }
  &Open {
    @extend .aside;
    max-width: 200px;
  }
}

.link {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 15px 10px;
  transition: var(--transition);
  width: 100%;
  border-radius: var(--radius);
  &:hover,
  &:focus {
    outline-width: 0;
    background-color: var(--primary-select-color);
  }
  &:global.active {
    background-color: var(--primary-select-color);
  }
  @include mixins.tablet {
    padding: 10px 10px;
  }
}

.text {
  @include mixins.basicText;
  width: max-content;
  &Open {
    @extend .text;
    display: block;
  }
  @include mixins.tablet {
    display: none;
    &Open {
      display: block;
    }
  }
}

.icon svg {
  height: 24px;
  width: 24px;
  fill: var(--secondary-color);
  path {
    fill: var(--secondary-color);
  }
}

.manageBox {
  width: calc(100% - 200px);
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 20px;
  top: 0;
  bottom: 0;
  left: 230px;
  overflow: auto;
  background-color: var(--primary-color);
  padding: 10px 0;
  @include mixins.tablet {
    left: 60px;
    width: calc(100% - 60px);
  }
}
