@import "../../scss/mixins";
@import "../../scss/vars";

.card {
  display: block;
  background-color: $dark;
  border-radius: $border;
  padding: 10px;
  color: $light;
  max-width: 650px;
  &__inner {
    width: 100%;
    @include flexSpaceBetween;
    gap: 10px 20px;
    align-items: stretch;
    flex-wrap: wrap;
  }
  &__picture {
    flex: 200px 1 0;
  }
  &__img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    border-radius: calc($border - 5px);
  }
  &__data {
    flex: 220px 1 1;
  }
  &__title {
    @include textMediumSemiBold;
    font-size: 18px;
    margin-bottom: 8px;
  }
  &__rating {
    margin-bottom: 14px;
    display: flex;
    gap: 10px 20px;
    align-items: center;
  }
  &__stars {
    position: relative;
    width: max-content;
    font-size: 20px;
    line-height: 20px;
  }
  &__stars::before {
    content: "★★★★★";
    display: block;
  }
  &__stars-active {
    position: absolute;
    width: 0%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
  }
  &__stars-active::before {
    content: "★★★★★";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: #ffd300;
  }
  &__reviews {
    font-size: 12px;
    line-height: 16px;
    font-weight: 300;
    color: rgba($light, 0.6);
  }
  &__info {
    display: flex;
    gap: 10px 20px;
    margin-bottom: 10px;
    @include textSmallRegular;
  }
  &__text {
    @include textSmallLight;
  }
  &__weight,
  &__price {
    padding-left: 30px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      width: 24px;
      height: 24px;
      top: 0;
      left: 0;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
  &__weight::before {
    background-image: url("../../images/plate.svg");
  }
  &__price::before {
    background-image: url("../../images/price.svg");
  }
}
