@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");

#root {
  --primary-color: #f2f2f2;
  --primary-stable-color: #f2f2f2;
  --primary-dark-color: #f2f2f2;
  --primary-select-color: #e2e2e2;
  --scrollbar-color: #d1d1d1;
  --secondary-color: #272a2f;
  --secondary-light-color: #272a2f80;
  --secondary-stable-color: #272a2f;
  --accent-color: #c74134;
  --selection-color: #3b8ae4;
  --selection-light-color: #7db2ee;

  --radius: 16px;
  --transition: 0.3s all;
  --last-index: 3;
  --middle-index: 2;
  &.dark {
    --primary-color: #272a2f;
    --secondary-color: #f2f2f2;
    --secondary-light-color: #b8b8b8;
    --scrollbar-color: #626468;
    --primary-dark-color: #464b56;
    --primary-select-color: #444850;
  }

  display: flex;
  flex-direction: column;
  min-height: 100vh;
  flex-grow: 1;
  background-color: var(--base-color);
  header {
    flex: 0 0 auto;
  }
  main {
    flex: 1 1 auto;
  }
  footer {
    flex: 0 1 auto;
  }
}

* {
  box-sizing: border-box;
  font-family: "Montserrat";
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: var(--text-color);
  &::-webkit-scrollbar {
    width: 10px;
  }
  &::-webkit-scrollbar-track {
    background: #a3a3a3;
  }
  &::-webkit-scrollbar-thumb {
    background: #c74134;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: #c74134;
  }
}

a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.container {
  max-width: 1600px;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
  flex: 0 0 auto !important;
}

.tox-tinymce {
  border: 2px solid var(--secondary-color) !important;
  border-radius: 0px !important;
}

//overriding react-datepicker styles
.react-datepicker__header,
.react-datepicker__time-list {
  background-color: var(--primary-color) !important;
}

.react-datepicker__current-month,
.react-datepicker-time__header {
  color: var(--secondary-color) !important;
  text-transform: capitalize;
}

.react-datepicker__day-name {
  color: var(--secondary-color) !important;
}

.react-datepicker__time-list-item:hover {
  background-color: var(--selection-light-color) !important;
}

.react-datepicker__day {
  color: var(--secondary-color) !important;
  &:hover {
    background-color: var(--selection-light-color) !important;
  }
}

.react-datepicker__time-list-item--selected,
.react-datepicker__day--selected {
  color: var(--primary-stable-color) !important;
  background-color: var(--selection-color) !important;
}
.react-datepicker__today-button {
  background-color: var(--secondary-color) !important;
  color: var(--primary-color) !important;
  &:hover {
    background-color: var(--selection-color) !important;
    color: var(--primary-stable-color) !important;
  }
}

.react-datepicker__triangle {
  fill: var(--primary-color) !important;
}

.react-datepicker__time-box {
  width: 100% !important;
}

.react-datepicker__time-container {
  border: 3px solid var(--secondary-color) !important;
  border-radius: 0 !important;
  top: -2.5px !important;
  right: -85px !important;
}

.react-datepicker-wrapper {
  width: 100% !important;
}

//tiny mce overriding styles
#root.dark {
  .tox-editor-header,
  .tox-menubar,
  .tox-toolbar__primary,
  .tox-statusbar,
  .tox-tbtn--bespoke {
    background-color: var(--primary-color);
  }
  .tox .tox-menubar + .tox-toolbar-overlord {
    border-top: 2px solid var(--primary-stable-color);
    padding-bottom: 0;
    padding-top: 0;
  }
  .tox-statusbar__branding {
    display: none;
  }
}
