@use "../../../scss/mixins.scss" as mixins;

.title {
  @include mixins.titleText;
  margin: 0;
  &Small {
    @extend .title;
    @include mixins.titleSmallText;
  }
  &Global {
    @extend .title;
    padding: 20px 0;
    @include mixins.tablet {
      padding: 10px 0;
    }
  }
  &Big {
    @extend .title;
    font-size: 44px;
    line-height: 52px;
    @include mixins.tablet {
      font-size: 32px;
      line-height: 44px;
    }
  }
  &Input {
    @include mixins.basicBold;
    margin-bottom: 10px;
    display: inline-block;
  }
}
