@use "../../scss/mixins.scss" as mixins;

.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  max-width: 380px;
  padding: 10px;
  border-radius: var(--radius);
  position: relative;
  background-color: var(--primary-color);
  box-shadow: 0 0 2px 0 var(--secondary-color);
}

.options {
  position: absolute;
  top: 10px;
  left: 10px;
}

.option {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  background-color: var(--selection-color);
  box-shadow: 0 0 5px 0px var(--selection-color);
  width: max-content;
  border-radius: calc(var(--radius) - 10px);
  padding: 5px 10px;
  margin-bottom: 5px;
  text-transform: uppercase;
  @include mixins.tinyText;
  color: var(--primary-stable-color);
  font-weight: 500;
  &Sale {
    @extend .option;
    background-color: var(--accent-color);
    box-shadow: 0 0 5px 0px var(--accent-color);
  }
  &New {
    @extend .option;
    background-color: #50c878;
    box-shadow: 0 0 5px 0px #50c878;
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 10px;
}

.infos {
  display: flex;
  gap: 10px 20px;
  flex-wrap: wrap;
}

.info {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 0;
  vertical-align: middle;
  @include mixins.tinyText;
  color: var(--secondary-color);
  svg {
    height: 100%;
    max-height: 100%;
    width: 100%;
    max-width: 22px;
    object-fit: contain;
  }
}

.img {
  min-width: 100%;
  width: 100%;
  min-height: 100px;
  max-height: 150px;
  object-fit: cover;
  display: block;
  margin-bottom: 10px;
  border-radius: calc(var(--radius) - 10px);
}

.buy {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 15px;
  align-items: center;
}

.price {
  margin: 0;
  @include mixins.basicBold;
  font-weight: 700;
  &Old {
    @extend .price;
    @include mixins.smallText;
    text-decoration: line-through;
    opacity: 70%;
  }
}

.priceBox {
  display: flex;
  flex-direction: column;
}

.button {
  border-radius: calc(var(--radius) - 10px);
}
