@use "../../../scss/mixins.scss" as mixins;

.mode {
  @include mixins.flexRow(0px, center, center);
  width: 45px;
  height: 45px;
  padding: 5px;
  border-radius: 50%;
  overflow: hidden;
  border: none;
  cursor: pointer;
  @include mixins.mobile {
    width: 40px;
    height: 40px;
  }
  img {
    @include mixins.image(100%, 100%, contain);
  }
}

@keyframes move {
  0% {
    transform: translateY(0) scale(100%);
  }

  50% {
    transform: translateY(100%) scale(50%);
  }
  100% {
    transform: translateY(0) scale(100%);
  }
}
