@use "../../../scss/mixins.scss" as mixins;

.formInner {
  @include mixins.flexRow(0, center, center);
  padding: 20px 10px;
}

.form {
  max-width: 600px;
  padding: 30px 20px;
  box-shadow: 0px 0px 5px var(--secondary-color);
  border: 1px solid var(--secondary-color);
}

.btn {
  width: 100%;
}
