@use "../../../scss/mixins.scss" as mixins;

.rating {
  @include mixins.flexRow(10px, flex-start, center);
}

.imgs {
  display: inline-flex;
  svg {
    @include mixins.image(20px, 20px, contain);
  }
}

.starsDisabled {
  svg {
    fill: #cacaca;
    stroke: #cacaca;
  }
}

.stars {
  position: relative;
  width: max-content;
}

.starActive {
  @include mixins.position(absolute, 0px, unset, unset, 0px);
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.reviews {
  @include mixins.tinyText;
  color: var(--secondary-color);
  margin: 0;
}
