@use "../../../scss/mixins.scss" as mixins;

.blockHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px 25px;
  flex-wrap: wrap;
  text-transform: uppercase;
}

.link {
  text-transform: none;
  @include mixins.titleSmallText;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: var(--transition);
  &:hover {
    color: var(--accent-color);
    svg path {
      fill: var(--accent-color);
    }
  }
  svg {
    width: 25px;
    object-fit: contain;
    height: 100%;
    path {
      fill: var(--secondary-color);
    }
  }
}
