@import "../../scss/vars";
@import "../../scss/mixins";

.button {
  @include textSmallBold;
  @include flexCenter;
  color: $light;
  background-color: $accent;
  padding: 20px 40px;
  border-radius: $border;
  gap: 10px;
  transition: 0.2s all;
  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 0 8px rgba($accent, 0.9);
  }
  &--mini {
    padding: 10px 20px;
  }
  &--outlined {
    background-color: transparent;
    border: 3px solid $accent;
  }
  &__img {
    max-width: 30px;
    max-height: 30px;
    object-fit: contain;
  }
}
