@use "../../scss/mixins.scss" as mixins;

.box {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 40px;
  &Center {
    @extend .box;
    justify-content: center;
  }
}

.wrapper {
  overflow-x: auto;
  min-width: 100%;
  justify-content: center;
  * {
    margin: 0 auto;
  }
}

.table {
  width: 100%;
  border-collapse: collapse;
  img {
    max-width: 100px;
    max-height: 150px;
    object-fit: contain;
  }
  svg {
    display: inline-block;
    width: 30px;
    height: 30px;
    object-fit: contain;
  }
}

.head {
  background-color: var(--accent-color);
  th {
    text-align: center;
    @include mixins.basicBold;
    color: var(--primary-stable-color);
    padding: 10px;
    pointer-events: none;
  }
}

.body {
  font-size: 14px;
  background-color: var(--primary-color);
}

.row {
  border-bottom: 2px solid var(--secondary-light-color);
  transition: var(--transition);
  &:last-child {
    border-bottom: none;
  }
  &:hover {
    background-color: var(--primary-select-color);
  }
}

.cell {
  a {
    display: block;
  }
  padding: 10px;
  border-right: 2px solid var(--secondary-light-color);
  text-align: center;
  color: var(--secondary-color);
  @include mixins.smallText;
  &:last-child {
    border-right: none;
  }
  @include mixins.tablet {
    a {
      display: block;
      padding: 10px;
    }
  }
}
