@import "../../scss/mixins";
@import "../../scss/vars";

.head-block {
  @include flexSpaceBetween;
  gap: 0 20px;
  color: $light;
  &__title {
    font-size: 24px;
    line-height: 36px;
    text-transform: uppercase;
    font-weight: 700;
    position: relative;
    width: max-content;
    &::before {
      content: "";
      position: absolute;
      bottom: -5px;
      left: 0;
      width: 80%;
      height: 2px;
      background-color: $accent;
    }
  }
  &__link {
    @include textMediumBold;
    position: relative;
    padding-right: 34px;
    margin-right: 6px;
    &:hover {
      &::before {
        animation: move 0.8s ease-in-out infinite;
      }
    }
    &::before {
      content: "";
      position: absolute;
      display: block;
      width: 24px;
      height: 100%;
      right: 0;
      top: 0;
      background-image: url("../../images/moreArrow.svg");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
    }
  }
}

@media (max-width: $m-width) {
  .head-block {
    &__title {
      font-size: 18px;
      line-height: 28px;
      &::before {
        bottom: -0px;
      }
    }
    &__link {
      padding-right: 28px;
      margin-right: 0;
      &:hover {
        &::before {
          animation: none;
        }
      }
      &::before {
        width: 18px;
      }
    }
  }
}

@keyframes move {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}
