.inner {
  display: flex;
  align-items: flex-start;
  gap: 40px;
  flex-wrap: wrap;
  justify-content: center;
}

.cards {
  flex: 1 0 400px;
  max-width: 100%;
}

.reciept {
  flex: 1 0 300px;
  max-width: 400px;
  padding: 20px 15px;
  background-color: var(--primary-select-color);
  position: sticky;
  top: 100px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: flex-start;
}

.sum {
  justify-content: space-between;
  width: 100%;
  display: flex;
  p {
    width: max-content;
  }
}
