@use "../../../scss/mixins.scss" as mixins;

.container {
  display: flex;
}

.panel {
  @include mixins.flexColumn(20px, space-between);
  width: 100%;
  position: relative;
}

.burger {
  display: none;
  @include mixins.tablet {
    display: block;
    align-self: flex-start;
    margin-left: 7px;
    margin-bottom: 10px;
    * {
      background-color: var(--secondary-color) !important;
    }
  }
}

.aside {
  scrollbar-width: thin;
  @include mixins.flexColumn(0px, stretch, flex-start);
  @include mixins.position(absolute, 0, unset, 0);
  width: 100%;
  max-width: 200px;
  background-color: var(--primary-color);
  overflow: auto;
  padding-top: 10px;
  z-index: var(--middle-index);
  box-shadow: 2px 0 2px 0px var(--secondary-light-color);
  @include mixins.tablet {
    padding-right: 5px;
    width: max-content;
  }
  &Open {
    @extend .aside;
    width: 100%;
    max-width: 200px;
  }
}

.link {
  @include mixins.flexRow(10px, stretch, center);
  padding: 15px 10px;
  width: 100%;
  border-radius: var(--radius);
  &:hover,
  &:focus {
    outline-width: 0;
    background-color: var(--primary-select-color);
  }
  &:global.active {
    background-color: var(--primary-select-color);
  }

  @include mixins.tablet {
    padding: 10px 10px;
    width: max-content;
  }
  &Opened {
    @extend .link;
    @include mixins.tablet {
      width: 100%;
    }
  }
}

.text {
  @include mixins.basicText;
  width: max-content;
  &Open {
    @extend .text;
    display: block;
  }
  @include mixins.tablet {
    display: none;
    &Open {
      display: block;
    }
  }
}

.icon svg {
  height: 24px;
  width: 24px;
  fill: var(--secondary-color);
  path {
    fill: var(--secondary-color);
  }
  @include mixins.tablet {
    height: 20px;
    width: 20px;
  }
}

.manageBox {
  @include mixins.position(absolute, 0, unset, 0, 200px);
  @include mixins.flexColumn(20px, stretch, stretch);
  width: calc(100% - 200px);
  overflow: hidden auto;
  background-color: var(--primary-color);
  padding: 10px 10px 10px 20px;
  scrollbar-width: thin;

  @include mixins.tablet {
    padding: 5px 0px 5px 10px;
    left: 50px;
    width: calc(100% - 50px);
  }
}
