@use "../../../scss/mixins.scss" as mixins;

.inner {
  position: relative;
  padding: 60px 0;
}

.slider {
  margin-bottom: 30px;
  padding: 30px 4px 10px !important;
}

.slide {
  height: auto !important;
  display: flex !important;
  justify-content: center !important;
  & > * {
    width: 100%;
    height: 100%;
  }
}

.buttonPrev {
  @include mixins.flexRow(0, center, center);
  min-width: 45px;
  min-height: 45px;
  z-index: var(--middle-index);
  border: 0;
  background-color: var(--primary-color);
  border-radius: var(--radius);
  box-shadow: 0 0 3px 0 var(--secondary-color);
  @include mixins.mobile {
    display: none;
  }
  &:disabled {
    opacity: 50%;
  }
  cursor: pointer;
  svg {
    path {
      fill: var(--accent-color);
    }
  }
}

.buttonNext {
  @extend .buttonPrev;
  left: auto;
  right: 0px;
}

.pagination {
  @include mixins.flexRow(0, space-between);
}
