@import "../../scss/mixins";
@import "../../scss/vars";

.footer {
  background-color: $dark;
  padding: 20px 0;
  &__logo {
    width: 140px;
  }
  &__top {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
    gap: 0 20px;
  }
  &__bottom {
    text-align: center;
    color: rgba($light, 0.8);
    @include textSmallLight;
  }
  &__blocks {
    @include flexSpaceBetween;
    margin-left: auto;
    gap: 10px 20px;
  }
  &__block {
    max-width: 220px;
  }
  &__block-line {
    display: block;
    color: $light;
    @include textSmallLight;
  }
}

@media (max-width: $l-width) {
  .footer {
    &__logo {
      width: 120px;
    }
    &__navbar {
      display: none;
    }
    &__blocks {
      flex-wrap: wrap;
    }
  }
}

@media (max-width: $s-width) {
  .footer {
    &__logo {
      margin-bottom: 20px;
    }
    &__top {
      flex-direction: column;
    }
    &__blocks {
      margin-left: 0;
    }
    &__bottom {
      text-align: left;
    }
  }
}
