.order {
  padding: 10px;
  border: 1px solid var(--secondary-color);
}

.header {
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid var(--secondary-color);
  display: flex;
  gap: 10px 30px;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-right: 30px;
  position: relative;
}

.headerDrop {
  padding-right: 30px;
}

.drop {
  width: 28px;
  height: 28px;
  border: none;
  background: transparent;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  svg {
    width: 28px;
    height: 28px;
  }
  &Close {
    @extend .drop;
    svg {
      transform: rotate(180deg);
    }
  }
}

.mainData {
  display: flex;
  gap: 10px 50px;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0px 0 10px;
  border-bottom: 1px solid var(--secondary-color);
}

.body {
  display: flex;
  gap: 20px 30px;
  flex-wrap: wrap;
}

.products {
  flex: 1 0 350px;
  max-width: 100%;
  padding: 10px 0;
}

.orderInfo {
  flex: 1 0 400px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px 0;
}

.total {
  display: flex;
  justify-content: space-between;
  padding: 10px 0 0;
}

.bold {
  font-weight: 500;
}
