@use "../../../scss/mixins.scss" as mixins;

.burger {
  min-height: 28px;
  min-width: 28px;
  background-color: transparent;
  border: none;
  position: relative;
  cursor: pointer;
  span {
    @include mixins.position(absolute, unset, 0px, unset, 0px);
    user-select: none;
    transition: var(--transition);
    display: block;
    height: 3px;
    width: 100%;
    background-color: var(--primary-stable-color);
    border-radius: var(--radius);
    &:first-child {
      @include mixins.position(absolute, 0px, 0px, unset, 0px);
    }
    &:last-child {
      @include mixins.position(absolute, unset, 0px, 0px, 0px);
    }
  }
  &Active {
    @extend .burger;
    span {
      opacity: 0;
    }
    span:first-child {
      top: 12px;
      opacity: 1;
      transform: rotate(45deg);
    }
    span:last-child {
      bottom: 13px;
      opacity: 1;
      transform: rotate(-45deg);
    }
  }
}
