@import "../../scss/vars";

.swiper {
  overflow-y: visible;
  width: 100%;
  .swiper-pagination {
    bottom: -50px;
    z-index: 0;
  }
  .swiper-button-prev,
  .swiper-button-next {
    bottom: -60px;
    position: absolute;
    top: auto;
    width: 50px;
    height: 36px;
    border-radius: $border;
    background-color: $dark;
    transition: 0.2s all ease-in-out;
    &:hover {
      box-shadow: -2px 3px 5px rgba($dark, 0.3);
    }
    &::after {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 30px;
      height: 20px;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
  .swiper-button-prev {
    left: 0;
    &:hover {
      box-shadow: 2px 3px 5px rgba($dark, 0.4);
    }
    &::after {
      content: "";
      background-image: url("../../images/prev.svg");
    }
  }
  .swiper-button-next {
    right: 0;
    &:hover {
      box-shadow: -2px 3px 5px rgba($dark, 0.4);
    }
    &::after {
      content: "";
      background-image: url("../../images/next.svg");
    }
  }
  .swiper-pagination-bullet {
    height: 6px;
    width: 8px;
    transition: 0.2s all ease-in-out;
    border-radius: $border;
  }
  .swiper-pagination-bullet-active {
    background: $dark;
    width: 20px;
  }
  .card {
    max-width: 100%;
  }
}

@media (max-width: $m-width) {
  .swiper {
    .swiper-button-next,
    .swiper-button-prev {
      display: none;
    }
  }
}
