@use "../../../scss/mixins.scss" as mixins;

.inner {
  max-width: 500px;
}

.top {
  position: relative;
  margin-bottom: 10px;
}

.buttonPrev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 5px;
  min-width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: var(--middle-index);
  border: 0;
  background-color: var(--primary-color);
  border-radius: var(--radius);
  box-shadow: 0 0 3px 0 var(--primary-color);
  left: 5px;
  @include mixins.mobile {
    display: none;
  }
  &:disabled {
    opacity: 50%;
  }
  cursor: pointer;
  svg {
    path {
      fill: var(--accent-color);
    }
  }
}

.buttonNext {
  @extend .buttonPrev;
  left: auto;
  right: 5px;
}

.thumbs {
  height: 80px;
  width: 100%;
  max-width: 100%;
}

.thumb {
  display: flex;
  justify-content: center;
  border-bottom: 2px solid transparent;
  padding: 5px 0;
  cursor: pointer;
  img {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
  }
  &Active {
    @extend .thumb;
    border-bottom: 2px solid var(--accent-color);
  }
}

.slide {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  img {
    width: 100%;
    max-width: 500px;
    height: 100%;
    object-fit: cover;
  }
}
