.loginForm {
  max-width: 500px;
  background-color: var(--primary-color);
  a {
    color: var(--accent-color);
    &:hover {
      text-decoration: underline;
    }
  }
}

.layout {
  background: url("../../assets/signup.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0 50px;
}
