@use "../../../scss/mixins.scss" as mixins;

.avatar {
  height: 45px;
  img {
    display: inline;
    height: 45px;
    width: 45px;
    object-fit: cover;
    border-radius: 50%;
  }
  @include mixins.mobile {
    height: 40px;
    img {
      height: 40px;
      width: 40px;
    }
  }
}
