@use "../../scss/mixins.scss" as mixins;

.order {
  padding: 5px 0;
  border-top: 1px solid var(--primary-select-color);
  border-bottom: 1px solid var(--primary-select-color);
}

.inner {
  display: flex;
  gap: 20px;
  @include mixins.mobile {
    gap: 10px;
  }
}

.img {
  width: 120px;
  @include mixins.mobile {
    width: 100px;
  }
}

.info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
  width: 100%;
}

.stats {
  display: flex;
  align-items: flex-end;
  gap: 5px 20px;
  justify-content: space-between;
  flex-wrap: wrap;
}
