@use "../../../scss/mixins.scss" as mixins;

.checkBox,
.checkBox * {
  box-sizing: content-box !important;
}

.inner {
  padding: 10px 0;
  min-width: max-content;
}

.checkBox input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.checkBox span {
  @include mixins.basicText;
}

.checkBox {
  max-height: max-content;
  display: table;
  position: relative;
  padding-left: 38px;
  cursor: pointer;
  margin-bottom: 0px;
}

.checkBox input[type="checkbox"] ~ .checkBoxInput {
  @include mixins.position(absolute, -2px, unset, unset, 0);
  height: 24px;
  width: 24px;
  background: transparent;
  transition: var(--transition);
  border: 1px solid var(--secondary-color);
  border-radius: 0px;
}

.checkBox input[type="checkbox"] ~ .checkBoxInput::after {
  content: "";
  @include mixins.position(absolute, 3px, unset, unset, 8px);
  display: none;
  width: 6px;
  height: 12px;
  border: solid var(--secondary-color);
  border-width: 0 2px 2px 0;
  transition: var(--transition);
  transform: rotate(45deg);
}

.checkBox input[type="checkbox"]:disabled ~ .checkBoxInput::after {
  border-color: var(--secondary-light-color);
}

.checkBox input:checked ~ .checkBoxInput::after {
  display: block;
}

.checkBox:hover input[type="checkbox"]:not([disabled]) ~ .checkBoxInput,
.checkBox input[type="checkbox"]:focus ~ .checkBoxInput {
  border-color: var(--selection-color);
  background: transparent;
}

.checkBox input:focus ~ .checkBoxInput {
  box-shadow: 0 0 0 2px var(--selection-color);
}

.checkBox input[type="checkbox"]:checked ~ .checkBoxInput {
  background: transparent;
  border-color: var(--secondary-color);
}

.checkBox input[type="checkbox"]:disabled ~ .checkBoxInput {
  opacity: 0.5;
  cursor: not-allowed;
}

.checkBox:hover input[type="checkbox"]:not([disabled]):checked ~ .checkBoxInput,
.checkBox input[type="checkbox"]:checked:focus ~ .checkBoxInput {
  background: transparent;
  border-color: var(--selection-color);
}
