@use "../../../scss/mixins.scss" as mixins;

.button {
  @include mixins.basicText;
  padding: 9px 18px;
  background-color: var(--accent-color);
  color: var(--primary-stable-color);
  border: none;
  transition: var(--transition);
  outline-width: 0;
  height: max-content;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--radius);
  gap: 0px 10px;
  width: max-content;
  @include mixins.mobile {
    @include mixins.smallText;
    color: var(--primary-stable-color);
    font-weight: 500;
  }
  &:hover {
    cursor: pointer;
    box-shadow: 0 0 10px var(--accent-color);
  }
  &:active,
  &:focus {
    box-shadow: 0 0 10px var(--accent-color);
  }
  &:disabled {
    opacity: 0.5;
    &:hover,
    &:active,
    &:focus {
      cursor: default;
      box-shadow: none;
    }
  }
  &Back {
    @extend .button;
    border: none;
    background-color: transparent;
    color: var(--secondary-color);
    padding: 0 0 5px 0;
    border: 0;
    border-radius: 0;
    border-bottom: 2px solid transparent;
    &:hover,
    &:active,
    &:focus {
      cursor: pointer;
      box-shadow: none;
      border-bottom: 2px solid var(--secondary-color);
    }
    &::before {
      content: "\2190";
      font-size: 24px;
    }
  }
  &Outline {
    @extend .button;
    background-color: transparent;
    border: 2px solid var(--accent-color);
    padding: 8px 20px;
  }
  &OutlineRed {
    @extend .button;
    background-color: transparent;
    border: 2px solid var(--accent-color);
    color: var(--accent-color);
  }
  &Small {
    @extend .button;
    @include mixins.smallText;
    color: var(--primary-stable-color);
    font-weight: 500;
  }
  &Success {
    @extend .button;
    background-color: transparent;
    border: 2px solid #47bd6e;
    color: #47bd6e;
    &:hover,
    &:active,
    &:focus {
      cursor: pointer;
      box-shadow: 0 0 10px #47bd6e;
    }
  }
}
