@use "../../../scss/mixins.scss" as mixins;

.button {
  @include mixins.basicBold;
  padding: 10px 20px;
  background-color: var(--accent-color);
  color: var(--primary-stable-color);
  border: none;
  transition: var(--transition);
  outline-width: 0;
  height: max-content;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--radius);
  gap: 0px 10px;
  width: max-content;
  &:hover {
    cursor: pointer;
    box-shadow: 0 0 10px var(--accent-color);
  }
  &:active,
  &:focus {
    box-shadow: 0 0 10px var(--accent-color);
  }
  &:disabled {
    opacity: 0.5;
    &:hover,
    &:active,
    &:focus {
      cursor: default;
      box-shadow: none;
    }
  }
  &Outline {
    @extend .button;
    background-color: transparent;
    border: 2px solid var(--accent-color);
  }
  &OutlineRed {
    @extend .button;
    background-color: transparent;
    border: 2px solid var(--accent-color);
    color: var(--accent-color);
  }
}
