@use "../../../scss/mixins.scss" as mixins;

.wrapper {
  position: relative;
}

.show {
  @include mixins.position(absolute, 50%, 5px);
  @include mixins.flexRow(0px, flex-start, center);
  transform: translateY(-50%);
  background: transparent;
  border: none;
  height: 24px;
  cursor: pointer;
  img {
    height: 24px;
  }
}

.input {
  width: 100%;
  border: 2px solid var(--secondary-color);
  background-color: rgba(var(--secondary-color), 0.1);
  padding: 8px 16px;
  color: var(--secondary-color);
  transition: var(--transition);
  margin: 0;

  @include mixins.basicText;
  &::placeholder {
    @include mixins.basicText;
    color: var(--secondary-light-color);
  }
  &:focus,
  &:active {
    outline: none;
    border-color: var(--selection-color);
  }
  &:disabled {
    opacity: 0.5;
  }
}

.icon {
  @include mixins.position(absolute, 50%, 0, 0, 5px);
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  * {
    width: 100%;
    height: 100%;
  }
}
