@use "../../../scss/mixins.scss" as mixins;

.text {
  @include mixins.basicText;
  margin: 0;
  vertical-align: middle;
  &Small {
    @extend .text;
    @include mixins.smallText;
  }
  &Big {
    @extend .text;
    @include mixins.titleSmallText;
  }
  &Error {
    margin-top: 10px;
    color: var(--accent-color);
  }
}
