@use "../../../scss/mixins.scss" as mixins;

.cartItem {
  @include mixins.flexRow(20px, flex-start, flex-start);
  padding: 30px 40px 30px 0px;
  border-top: 1px solid var(--secondary-color);
  position: relative;
  &:last-child {
    border-bottom: 1px solid var(--secondary-color);
  }
}

.main {
  @include mixins.flexRow(20px 40px, flex-start, flex-start, wrap);
  flex: 1 1 auto;
  min-width: 50%;
}

.text {
  flex: 1 1 300px;
}

.markers {
  @include mixins.flexRow(5px, flex-start, flex-start, wrap);
  margin-top: 10px;
}

.img {
  @include mixins.image(160px, 100px, cover);
  min-width: 160px;
  @include mixins.tablet {
    @include mixins.image(100px, 60px, cover);
    min-width: 100px;
  }
  // @media (max-width: 350px) {
  //   @include mixins.image(160px, 100px, cover);
  // }
}

.priceBlock {
  flex: 1 0 100px;
  max-width: 100%;
}

.delete {
  @include mixins.position(absolute, 30px, 0px);
  width: 30px;
  height: 30px;
  padding: 0;
  background: transparent;
  border: none;
  cursor: pointer;
  svg path {
    stroke: var(--secondary-color);
  }
  &:hover {
    svg path {
      stroke: var(--accent-color);
    }
  }
}
