@mixin smallMobile {
  @media screen and (max-width: 576px) {
    @content;
  }
}

@mixin mobile {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: 992px) {
    @content;
  }
}

@mixin smallLaptop {
  @media screen and (max-width: 1200px) {
    @content;
  }
}

@mixin laptop {
  @media screen and (max-width: 1440px) {
    @content;
  }
}

@mixin tinyText {
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  color: var(--secondary-color);
}

@mixin smallText {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: var(--secondary-color);
  @include mobile() {
    font-size: 12px;
    line-height: 14px;
  }
}

@mixin basicText {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--secondary-color);
  @include mobile() {
    font-size: 14px;
    line-height: 18px;
  }
}

@mixin basicBold {
  @include basicText();
  font-weight: 500;
}

@mixin titleText {
  font-size: 28px;
  line-height: 36px;
  font-weight: 600;
  color: var(--secondary-color);
  @include tablet {
    font-size: 20px;
    line-height: 26px;
  }
  @include mobile {
    font-size: 18px;
    line-height: 24px;
  }
}

@mixin titleSmallText {
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
  color: var(--secondary-color);
  @include tablet {
    font-size: 16px;
    line-height: 24px;
  }
}

@mixin flexRow($gap: 0px, $justify: flex-start, $align: flex-start, $wrap: nowrap) {
  display: flex;
  flex-direction: row;
  justify-content: $justify;
  align-items: $align;
  flex-wrap: $wrap;
  gap: $gap;
}

@mixin flexColumn($gap: 0px, $justify: flex-start, $align: flex-start) {
  display: flex;
  flex-direction: column;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
}

@mixin image($width: 100%, $height: 100%, $fit) {
  display: block;
  width: $width;
  height: $height;
  object-fit: $fit;
}

@mixin position($position, $top: unset, $right: unset, $bottom: unset, $left: unset) {
  position: $position;
  top: $top;
  left: $left;
  bottom: $bottom;
  right: $right;
}
