@mixin smallMobile {
  @media screen and (max-width: 576px) {
    @content;
  }
}

@mixin mobile {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: 992px) {
    @content;
  }
}

@mixin tinyText {
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  color: var(--secondary-color);
}

@mixin smallText {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: var(--secondary-color);
}

@mixin basicText {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--secondary-color);
}

@mixin basicBold {
  @include basicText();
  font-weight: 500;
}

@mixin titleText {
  font-size: 28px;
  line-height: 36px;
  font-weight: 600;
  color: var(--secondary-color);
  @include tablet {
    font-size: 20px;
    line-height: 26px;
  }
}

@mixin titleSmallText {
  font-size: 20px;
  line-height: 26px;
  font-weight: 600;
  color: var(--secondary-color);
  @include tablet {
    font-size: 16px;
    line-height: 24px;
  }
}
