@use "../../../scss/mixins.scss" as mixins;

@keyframes loaderBody {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.loader {
  @include mixins.flexRow(0px, center, center);
  overflow: hidden;
  background: transparent;
  padding: 10px;
  height: 100%;
}

.loaderBody {
  min-width: 16px;
  min-height: 16px;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0;
  div {
    @include mixins.position(absolute, 50%, unset, unset, 50%);
    min-width: 100%;
    min-height: 100%;
    border: 5px solid var(--primary-stable-color);
    border-top-color: transparent;
    border-radius: 50%;
    animation: loaderBody 1s linear infinite;
    transform: translate(-50%, -50%);
    box-sizing: content-box;
  }
  &Global {
    @extend .loaderBody;
    min-width: 40px;
    min-height: 40px;
    div {
      border: 5px solid var(--accent-color);
      border-top-color: transparent;
    }
  }
  &Small {
    @extend .loaderBody;
    min-width: 10px;
    min-height: 10px;
  }
  &Accent {
    @extend .loaderBody;
    div {
      border: 4px solid var(--accent-color);
      border-top-color: transparent;
    }
  }
}
