@keyframes loaderBody {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: transparent;
  padding: 10px;
}

.loaderBody {
  min-width: 20px;
  min-height: 20px;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0;
}

.loaderBody div {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  border: 5px solid #ffffff;
  border-top-color: transparent;
  border-radius: 50%;
  animation: loaderBody 1s linear infinite;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: content-box;
}
